<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container-sm text-center mt-3 d-flex justify-content-center" >
        <form action="/submit" method="post" class = "border border-5 p-3 col-4 bg-secondary shadow">
            <div>
                <label for="f_name" class=" mb-3 col-3 fw-bold">First Name:</label>
                <input type="text" name="f_name" class=" mb-3 col-5 border border-dark border-2">
            </div>
            <div>
                <label for="l_name" class=" mb-3 col-3 fw-bold">Last Name:</label>
                <input type="text" name="l_name" class=" mb-3 col-5 border border-dark border-2">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>